.contacts-title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--text-primary);
  margin: 0 0 2rem 0;
}

.contacts-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 1.25rem;
}
